1.Somma* order=1
2.Somma_Vettori_V2 order=2
3.Somma_N_Numeri_1_Strategia order=3
4.Somma_N_Numeri_2_Strategia order=4
5.Somma_N_Numeri_2_Strategia order=5
6.Calcolo_Pi_Greco order=6
7.Prodotto_Scalare_1_Strategia order=7
8.Prodotto_Scalare_2_Strategia order=8
9.Matrice_Per_Scalare_1_Strategia order=9
10.Matrice_Per_Scalare_2_Strategia order=10
